<div class="container-fluid">

    <div class="text-center">
        <h3>Upload Summary</h3>
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            <label for="companyId" class="col-sm-2 control-label">
                Company ID
            </label>
            <div class="col-sm-10">
                <label id="companyId" class="form-control">{{company.id}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="companyName" class="col-sm-2 control-label">
                Company Name
            </label>
            <div class="col-sm-10">
                <label id="companyName" class="form-control">{{company.companyName}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="UploadRecords" class="col-sm-2 control-label">
                Upload Records
            </label>
            <div class="col-sm-10">
                <label id="UploadRecords" class="form-control"></label>
            </div>
        </div>

        <div class="form-group">
            <label for="uploadDate" class="col-sm-2 control-label">
                Upload Date
            </label>
            <div class="col-sm-10">
                <label id="uploadDate" class="form-control">{{date}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="uploadStatus" class="col-sm-2 control-label">
                Upload Status
            </label>
            <div class="col-sm-10">
                <label id="uploadStatus" class="form-control"></label>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default btn-sm btn-primary" (click)="close()">Close</button>
        </div>
    </div>

</div>