<div class="container-fluid">

    <div class="text-center">
        <h3>Upload Summary</h3>

    </div>

    <div class="">


        <div class="form-group">
            <label for="companyId" class="">
                Company ID:
            </label>
            <label id="companyId">{{company.id}}</label>
        </div>
        <div class="form-group">
            <label for="companyName" class="">
                Company Name:
            </label>
            <label id="companyName">{{company.companyName}}</label>
        </div>
        <div class="form-group">
            <label for="UploadRecords" class="">
                Upload Records:
            </label>
            <label id="UploadRecords"></label>
        </div>
        <div class="form-group">
            <label for="uploadDate" class="">
                Upload Date:
            </label>
            <label id="uploadDate">{{date}}</label>
        </div>
        <div class="form-group">
            <label for="uploadStatus" class="">
                Upload Status:
            </label>
            <label id="uploadStatus"></label>
        </div>
        <div class="text-center">
            <button class="btn btn-default btn-sm btn-primary">OK</button>
        </div>
    </div>

</div>