<div class="container-fluid">

    <div class="input-group">
        <form [formGroup]="formData" (submit) = "submit(formData.value)">
            <input type="text" class="form-control" style="width: 300px;" placeholder="Search" formControlName="searchText">
            <button type="submit" class="btn glyphicon glyphicon-search"></button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.id}}</td>
                <td>{{company.companyName}}</td>
                <td>{{company.description}}</td>
                <td>
                    <button class="btn-xs btn btn-default" (click)="openDetails(company)">Details</button>
                    <button class="btn-xs btn btn-default" (click)="openCharts(company)">Charts</button>                    
                    <button class="btn-xs btn btn-default" (click)="edit(company)">Edit</button>
                    <button class="btn-xs btn btn-default" (click)="deactivate(company)">Deactivate</button>
                    
                </td>
            </tr>
            <tr>
              <button class="btn btn-primary" style="width: 100%;" (click)="addCompany()">Add a new Company</button>
            </tr>
        </tbody>

    </table>

</div>