<div class="container-fluid">

    <form [formGroup]="checkoutForm" (submit)="submit(checkoutForm.value)">

        <div class="text-center">
            <div class="form-group">
                <label for="oldpassword">
                    Old Password:  
                </label>
                <input id="oldpassword" type="text" formControlName="oldpassword">
            </div>

            <div class="form-group">
                <label for="newpassword">
                    New Password:  
                </label>
                <input id="newpassword" type="text" formControlName="newpassword">
            </div>

            <div class="form-group">
                <label for="repeatpassword">
                    Repeat Password: 
                </label>
                <input id="repeatpassword" type="text" formControlName="repeatpassword">
            </div>

            <button type="submit" class="btn btn-default btn-sm btn-primary">Submit</button>
            <button class="btn btn-default btn-sm">Cancel</button>
        </div>
    </form>


</div>