<div class="container">
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label for="id">
        Company Code:
      </label>
      <label id="id">{{company.companyCode}}</label>
    </div>

    <div class="form-group">
      <label for="companyName" class="">
        Company Name:
      </label>
      <label id="companyName">{{company.companyName}}</label>
    </div>


  </div>

  <div class="col-lg-8 col-md-8">
    <div class="form-group">
      <label for="chart" class="">
        Chart here:
      </label>
      <label >{{company.stockPriceSet}}</label>
    </div>
  </div>


  <div class="text-center col-lg-12 col-md-12">
    <button class="btn btn-primary btn-sm" (click)="close()">Close</button>
  </div>
</div>