<div class="container-fluid">
  <div class="text-center">
    <div class="form-group">
      <label for="name">
        Name:
      </label>
      <label id="name">{{user.name}}</label>
    </div>

    <div class="form-group">
      <label for="email">
        Email:
      </label>
      <label id="email">{{user.email}}></label>
    </div>

    <div class="form-group">
      <label for="mobile">
        Mobile:
      </label>
      <label id="mobile">{{user.mobile}}></label>
    </div>

    <button class="btn btn-default btn-sm">Change Password</button>
    <button class="btn btn-default btn-sm">Edit Profile</button>
  </div>
</div>