<div class="container-fluid">
  <div class="text-center">
    <div class="form-group">
      <label for="id">
        ID:
      </label>
      <label id="id">{{company.id}}</label>
    </div>

    <div class="form-group">
      <label for="companyName" class="">
        CompanyName:
      </label>
      <label id="companyName">{{company.companyName}}</label>
    </div>

    <div class="form-group" >
      <label for="ceoName" >
        CEO Name:
      </label>
      <label id="ceoName">{{company.ceoName}}</label>
    </div>

    <div class="form-group">
      <label for="boardMember">
        Board Members:
      </label>
      <label id="boardMember">{{company.boardMember}}</label>
    </div>

    <div class="form-group">
      <label for="description">
        Description:
      </label>
      <label id="description">{{company.description}}</label>
    </div>

    <button class="btn btn-primary btn-sm">Close</button>
  </div>
</div>